html, body {
	height: 100%;
	width: 100%;
	font-family: "Open Sans";
	overflow: hidden;
}
a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}