html, body {
	height: 100%;
	width: 100%;
	font-family: "Raleway", Helvetica Neue, sans-serif;
	margin: 0%;
	padding: 0%;
}
h1 {
	font-size: 4em;
	font-weight: 100;
}
h2 {
	transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}
img {
	height: 100%;
	width: 100%;
	background-size: cover;
}
p {
	font-size: 1em;
	font-weight: 100;
}
a {
	color: inherit;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}
a:visited {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #0077FF;
	text-decoration: none;
}
.navbar {
	position: fixed;
	padding-top: 2%;
	top: 0%;
	width: 100%;
	min-height: 5%;
	background-color: rgba(0,0,0,0.8);
	color: white;
}
.navbutton {
	z-index: 10;
	position: relative;
}
.opening {
	z-index: 1;
	margin: 0%;
	height: 100%;
	width: 100%;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}
	#article-img {
		z-index: 0;
		height: 95%;
	}
	#poem-img {
		position: fixed;
		z-index: 0;
		left: 30%;
		width: 70%;
		height: 100%;
	}
.menu {
	z-index: 5;
	margin: 0px;
}
.menuitem {
	height: 40px;
	position: relative;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.title {
	font-size: 4em;
	font-weight: 100;
}
.content {
	position: relative;
	background-size: cover;
	width: 100%;
	height: 110%;
	background-color: #050505;
	margin: 0%;
}
	.content p {
		width: 90%;
		min-height: 2%;
		margin: 0% 5% 2% 5%;
	}
.article {
	position: relative;
	margin-left: 20%;
	width: 60%;
	height: initial;
	line-height: 2em;
	background-color: #FAF4E1;
	color: black;
}
	.article p:not(:nth-of-type(2)) {
		font-family: garamond, georgia, sans-serif;
		font-size: 1.2em;
		letter-spacing: 0.05em;
		margin-bottom: 1em;
		line-height: 1.5em;
	}
.poem {
	position: relative;
	margin-left: 10%;
	width: 80%;
	height: initial;
	line-height: 1.5em;
	background-color: #FAF4E1;
	color: black;
}
	.poem p:not(:nth-of-type(2)) {
		font-family: garamond, georgia, sans-serif;
		font-size: 1.2em;
		letter-spacing: 0.05em;
		margin-bottom: 1em;
	}
#article-div {
	width: auto;
	min-width: 100%;
	height: initial;
	background-color: #FAF4E1;
}
#poem-div {
	width: 30%;
	height: initial;
	background-color: #FAF4E1;
}
.post {
	position: relative;
	float: left;
	color: white;
	margin: 0%;
	padding: 0%;
	margin-bottom: 2em;
	margin-left: 2em;
}
	.posttitle {
		max-width: 5em;
		font-size: 3em;
		font-weight: 100;
		position: relative;
		margin-top: 2%;
		float: left;
		clear: both;
	}
	.postdate {
		font-size: 1em;
		font-weight: 100;
		position: relative;
		margin-top: 1%;
		margin-bottom: 5%;
		float: left;
		clear: both;
	}
	.postimg {
		width: 20em;
		height: 20em;
		float: left;
		clear: both;
		background-size: cover;
		background-color: #2F5F8A;
	}
.footer {
	width: 100%;
	height: 20em;
}
.poem-head {
	width: 100%;
	height: 10em;
}
.year {
	position: relative;
	width: 15em;
	float: left;
	color: black;
	margin: 0%;
	padding: 0%;
	margin-bottom: 2em;
	margin-left: 2em;
}
.year h3 {
	margin-left: 5%;
}
.year .headline {
	margin-left: 10%;
	margin-bottom: 5%;
}
.date {
	font-weight: 300;
}