html, body {
	height: 100%;
	width: 100%;
	font-family: "Raleway";
	margin: 0%;
	padding: 0%;
}
h1 {
	font-size: 4em;
	font-weight: 100;
}
h2 {
	transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}
img {
	height: 100%;
	width: 100%;
	background-size: cover;
	opacity: 1;
}
p {
	font-size: 1em;
	font-weight: 100;
}
a {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.navbar {
	position: fixed;
	padding-top: 2%;
	top: 0%;
	width: 100%;
	min-height: 5%;
	background-color: black;
	color: white;
}
.navbutton {
	z-index: 10;
	position: relative;
}
.opening {
	z-index: 1;
	margin: 0%;
	height: 100%;
	width: 100%;
	position: relative;
	background-size: cover;
	background-attachment:fixed;
}
.menu {
	z-index: 5;
	margin: 0px;
}
.menuitem {
	height: 40px;
	position: relative;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.title {
	width: 95%;
	position: absolute;
	top: 35%;
	text-align: left;
	margin-left: 5%;
	font-size: 4em;
	font-weight: 100;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.content {
	position: relative;
	width: 100%;
	background-color: black;
	color: white;
	margin: 0%;
}
	.content p {
		width: 90%;
		min-height: 2%;
		margin: 0% 5% 2% 5%;
	}
.post {
	position: relative;
	width: 100%;
	background-size: cover;
	background-color: #2F5F8A;
}
	.posttitle {
		font-size: 3em;
		font-weight: 300;
		position: absolute;
		top: 40%;
		left: 5%;
	}
	.postdate {
		font-size: 1em;
		font-weight: 200;
		position: absolute;
		top: 50%;
		left: 5%;
	}